<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>อาทิตย์</string>
		<key>weight</key>
		<integer>1</integer>
		<key>point</key>
		<integer>0</integer>
		<key>star</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>จันทร์</string>
		<key>weight</key>
		<integer>1</integer>
		<key>point</key>
		<integer>0</integer>
		<key>star</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>อังคาร</string>
		<key>weight</key>
		<integer>1</integer>
		<key>point</key>
		<integer>0</integer>
		<key>star</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>พุธ</string>
		<key>weight</key>
		<integer>1</integer>
		<key>point</key>
		<integer>0</integer>
		<key>star</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>พฤหัสบดี</string>
		<key>weight</key>
		<integer>1</integer>
		<key>point</key>
		<integer>0</integer>
		<key>star</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>ศุกร์</string>
		<key>weight</key>
		<integer>1</integer>
		<key>point</key>
		<integer>0</integer>
		<key>star</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>เสาร์</string>
		<key>weight</key>
		<integer>1</integer>
		<key>point</key>
		<integer>0</integer>
		<key>star</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>ราหู</string>
		<key>weight</key>
		<integer>1</integer>
		<key>point</key>
		<integer>0</integer>
		<key>star</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>เกตุ</string>
		<key>weight</key>
		<integer>1</integer>
		<key>point</key>
		<integer>0</integer>
		<key>star</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>คะแนนรูปดาว</string>
		<key>weight</key>
		<integer>1</integer>
		<key>point</key>
		<integer>0</integer>
		<key>star</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
