<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ลัคนา</string>
	<string>อาทิตย์</string>
	<string>จันทร์</string>
	<string>อังคาร</string>
	<string>พุธ</string>
	<string>พฤหัสบดี</string>
	<string>ศุกร์</string>
	<string>เสาร์</string>
	<string>ราหู</string>
	<string>เกตุ</string>
	<string>มฤตยู</string>
</array>
</plist>
