<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>120</string>
	<string>96</string>
	<string>72</string>
	<string>120</string>
	<string>144</string>
	<string>168</string>
	<string>168</string>
	<string>144</string>
	<string>120</string>
	<string>72</string>
	<string>96</string>
	<string>120</string>
</array>
</plist>
